<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.display_name %></h1>
    <p>
      You&apos;ll receive an email from us with a friendly suggestion. 
      There is one-click feedback right in the email, so if what we're saying doesn't make sense, you can easily tell us so.
      Likewise, if you like what you&apos;re seeing tell us that as well.
    </p>
    <p><b>Thank you,</b><br />The Humble Suggestors</p>
  </body>
</html>