<div id="email">

  <h1>Some ideas for your day</h1>
  <p>
    Your feedback is really important to us and improves our suggestions.
  </p>

  <div id="intense" class="day">
    <div class="day-header">
      An active day...
    </div>
    <div class="day-box">
      <div class="day-item">
        <div class="day-suggestion">
          Go for a run
        </div>
        <div class="day-timing">
          Morning
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Breakfast
        </div>
        <div class="day-timing">
          Morning
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Call friends and family
        </div>
        <div class="day-timing">
          Late Morning
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Week&apos' Grocery Shopping then Tidying Up
        </div>
        <div class="day-timing">
          Noon
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Play Tennis
        </div>
        <div class="day-timing">
          Afternoon
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Brunch
        </div>
        <div class="day-timing">
          Late Afternoon (3ish)
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          A casual outdoor activity: ...
        </div>
        <div class="day-timing">
          Evening
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Practice your hobby
        </div>
        <div class="day-timing">
          Late Evening
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Dinner
        </div>
        <div class="day-timing">
          Night
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Write a letter
        </div>
        <div class="day-timing">
          Night
        </div>
      </div>
      <div class="day-item">
        <div class="day-suggestion">
          Read and pass out!
        </div>
        <div class="day-timing">
          Night
        </div>
      </div>
    </div>
    <div class="day-feedback">
      <div class="day-feedback-bad">
        Ehh.. subpar jeeves. Try again.
      </div>
      <div class="day-feedback-good">
        Smashing idea!
      </div>
    </div>
  </div>

</div>