body {
  padding:0;
  color:#333;
  font-size:15px;
  font-family: 'Muli', sans-serif;
  font-weight:300;
  background:#FFF;
}

ul,li,dd,dt,dl,h1,h2,h3 {
  font-size:1em;
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-style:normal;
  font-weight:normal;
}

a, a:visited {text-decoration:none; color:#1896d3;}
a:hover{text-decoration:underline; color:#1896d3;}

#container {
	// margin:0px auto;
	// min-height: 100%;
	// position: relative;
}

.deep {
  font-weight:400;
}

#header{
  margin-bottom:0.75em;
}

#title {
  font-size:3em;
  line-height:1.5em;
}

#account {
  margin-top:15px;
  float:right;
  font-weight:400;
}

h1{
  color:#000;
  font-size:40px;
	margin:0;
}

h1 a, h1 a:visited{
	color:#000;
}

h2 {
  color:#333;
  font-size:32px;
  font-weight:300;
  margin:0;
}

li i{padding-right:15px;}

h3,dt{
  color:#666;
  font-size:24px;
  font-weight:300;
  margin:0;
  padding:0;
}

.error {
  color:red;
}

span {
  .big {

  }
  .small {
    font-size:11px;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
	font-size:17px;
  font-weight:300;
	padding:11px;
	margin:0;
	background-color: hsl(0, 0, 98);
	border:1px solid hsl(0, 0, 80);
	border-radius: 3px;
	-moz-border-radius: 3px;
  vertical-align:middle;
}

.field_with_errors {
  display:inline;
  input[type="email"], input[type="password"], input[type="text"] {
    border:1px solid #FF0000;
  }
}

p {
	font-size:16px;
  margin:0;
  padding:5px 0px;
}

.teaser {
  padding:10px 0px;
}

form {
  margin-top:10px;
}
fieldset {
  border:0;
  padding:0;
  margin:0 0 5px 0;
}
fieldset i{
  font-size:12px;
}

.form-field {
	clear:both;
}

.section {
	clear:both;
  margin-bottom:20px;
}

.small {
	font-size:13px;
}

textarea {
	// width:500px;
	// height:300px;
	font-size:14px;
	padding:3px;
	border: 1px solid #CCC;
	font-family:Georgia;
  font-size:14px;
  line-height:21px;
}

#question {

}

#signup-box li {
  float:left;
  padding:11px;
  margin:5px;
  // width:230px;
  text-align: center;
}
#signup-header p {
  line-height:24px;
}

.suggestion {
  overflow:hidden;
  font-size:15px;
  font-weight:300;
  margin-bottom:30px;

  .image {
  }
  .title {
    padding-right:20px;
  }
  .actions{
    float:left;

    .btn {
      margin-bottom:10px;
    }

    .link {
      font-size:17px;
      font-weight:400;
    }
  }
  .description {
    text-indent:30px;
  }
}

#question {
  padding-top:30px;
  font-size:32px;
}

#question ul {
  float:left;
  margin:0 5px;
  padding:0;
}

#question li {
  // display:none;
  margin:0 0 20px 0;
  padding:0 10px;
}

#question li:first {
  // display:show;
}

.choice {
  color: #5AC8FF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: hsl(0, 0, 96);

  &:active, &.selected {
    color: #333;
    border-bottom:1px solid #5AC8FF;
    background-color:#FFF;
    border-radius: 0px;
    -moz-border-radius: 0px;
  }

  &:hover {
    color: #333;
  }
}
