body {
  padding:0;
  color:#333;
  font-size:15px;
	font-family:Georgia, Serif;
  background:#FFF;
}

ul,li,dd,dt,dl {
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
}

a, a:visited{text-decoration:none; color:#1896d3;}
a:hover{text-decoration:underline; color:#1896d3;}

#title, h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin:0;
  font-style:normal;
  font-weight:normal;
}

#title {
 //  font-size:44px;
	// font-weight:bold;
}

h1 {
  a, a:visited{
    color:#000;
  }
}

h2 {
  color:#333;
  // font-size:32px;
}

h3 {
  color:#666;
  // font-size:24px;
}

input[type="text"], input[type="email"], input[type="password"] {
	font-size:18px;
	padding:10px;
	margin:5px 0;
	width:500px;
	background-color: hsl(0, 0, 98);
	border:1px solid hsl(0, 0, 80);
	border-radius: 3px;
	-moz-border-radius: 3px;
}

input[type="submit"] {
	font-size:24px;
	padding:10px;
	margin:5px 0;
	width:521px;
	background-color: #EEE;
	border:1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

p {
	font-size:16px;
  margin:0;
  padding:5px 0px;
}

.form-field {
	width:500px;
	clear:both;
}

.section {
	clear:both;
}

.small {
	font-size:13px;
}

textarea {
	width:500px;
	height:300px;
	font-size:14px;
	padding:3px;
	border: 1px solid #CCC;
	font-family:Georgia;
  font-size:14px;
  line-height:21px;
}

.choices-header, .section-header {
  color:#666;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:32px;

  p {
    font-size:17px;
  }
}
.choices-box, .section-box {
	margin-bottom:16px;

   ul {
    margin:0;
    padding:0;
  }
}
#signup-box li {
  float:left;
  padding:11px;
  margin:5px;
  width:230px;
  background-color: #EEE;
  border:1px solid #CCC;
  border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#signup-header p {
  line-height:24px;
}

.choice, .suggestion {
	padding:10px;
	margin:5px 0;
	width:500px;
	background-color: #EEE;
	border:1px solid #CCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.choice:hover, .choice:active, .suggestion:hover, .suggestion:active, .selected {
	background-color: #CCC;
	border:1px solid #999;
}
