- content_for :head do
  = javascript_include_tag("jquery.tablesorter")
  :plain
    <script>
      $(document).ready(function() 
        { 
          $("#suggestions").tablesorter(); 
        } 
      ); 
    </script>

.grid-100
  %table{:class => "tablesorter", :id => "suggestions"}
    %thead
      %th Title
      %th Weighting
    %tbody
      - @suggestions.each do |suggestion|
        %tr
          %td= suggestion.idea
          %td= suggestion.weight
