- content_for :head do
  = javascript_include_tag("jquery.tablesorter")
  :plain
    <script>
      $(document).ready(function() 
        { 
          $("#suggestions").tablesorter(); 
        } 
      ); 
    </script>


%table{:class => "tablesorter", :id => "suggestions"}
  %thead
    %th Title
    %th Weighting
  %tbody
    - @suggestions.each do |suggestion|
      %tr
        %td= suggestion.title
        %td= suggestion.weight
